.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

.bgHome {
    position: relative;
}

.bgHome::before {
    content: "";
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("./../../../assets/img/bg.svg");
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}

.hero {
    color: $white-normal;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 58rem;
        font-size: 2.8rem;    
    }

    p {
        text-align: center;
        margin: 0.8rem 0;
    }
}

.button-contact {
    padding: 0.8rem 1.75rem;
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.8rem 0;
}

.button-contact:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px){
    .hero {
        min-height: 60vh;

        h1 {
            font-size: 2.1rem;
            padding: 0 0.8rem;
            width: 100%;
        }

        p {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .hero {
        h1 {
            font-size: 1.5rem;
        }
    }
}

.about {
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 2.1rem 0.8rem 4rem 0.8rem;

    img {
        max-width: 35.6rem;
    }
}

.about-content div {
    flex: 1;
}

.about-description {
    h2 {
        font-size: 2.3rem;
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 0.8rem;
        line-height: 150%;
    }
}


@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
}

.services {
    background-color: $white-normal;
    color: $black-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.3rem 0.8rem;
}

.services-content {
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2.3rem;
        margin-bottom: 0.8rem;
    }

    p {
        line-height: 150%;
        text-align: center;
        margin-bottom: 0.8rem;
        max-width: 48.75rem;
    }
}

.haircuts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2.75rem 2.1rem 2.75rem;
}

.haircut {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $white-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    img {
        width: 100%;
        max-width: 22rem;
        transition: transform 0.25s;
    }
}

.haircut img:hover {
    transform: scale(1.2);
    z-index: 1;
}

.haircut-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    background-color: $white-normal;
    z-index: 10;

    button {
        color: $white-normal;
        background-color: $red-normal;
        padding: 4px 8px;
        border-radius: 4px;
        border: 0;
        cursor: default;
    }
}

@media screen and (max-width: 768px) {
    .haircuts {
        flex-direction: column;
    }

    .haircut img {
        max-width: 748px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.3rem 0;
    gap: 1.3rem;
    color: $white-normal;

    p {
        padding-top: 2rem;
        font-size: 0.7rem;
    }
}

.footer-icons {
    display: flex;
    gap: 8px;
    color: $white-normal;
}

.bnt-whatsapp {
    position: fixed;
    right: 1.3rem;
    bottom: 0.8rem;
    z-index: 99;

    img {
        max-width: 4.6rem;  
        transition: transform 0.4s;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.bnt-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 7.5rem;
    top: 8px;
    left: -9rem;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: $black-normal;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.4s;

}

.bnt-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .bnt-whatsapp {
        img {
            max-width: 3.3rem;
        }
    }
}