@import "partials/reset";
@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $primary-normal;
}



